* {
  margin: 0;
}

body {
  height: 100vh;
  background: black url(images/wallpaper002.jpg) no-repeat fixed center center;
  background-size: cover;
}

main {
  background-color: white;
  max-width: 400px;
  padding: 10px;
  margin: auto;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 139, 0.445);
}

main p {
  padding: 5px;
}
