@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap");

:root {
  --font-family-standard: Verdana, Tahoma, Helvetica, sans-serif;
  --font-family-sriracha: "Sriracha", cursive;
  --font-family-passion: "Passion One", cursive;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

html,
body {
  min-height: 100vh;
  background-color: darkgray;
  font-family: var(--font-family-standard);
}

header {
  text-align: center;
  background-color: black;
  padding: 40px 0 40px 0;
  color: white;
}

header > h1 {
  font-size: 10vw;
  font-weight: 400;
  font-variant: small-caps;
  font-family: var(--font-family-passion);
}

header p {
  font-weight: 200;
}

header a,
footer a {
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 4px;
  font-weight: 500;
}

header a:hover,
footer a:hover {
  text-decoration: underline;
  background-color: white;
  font-weight: 500;
  color: black;
  border-radius: 5px;
  padding: 10px;
}

section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  font-size: 3.5vw;
  font-family: var(--font-family-sriracha);
  padding-left: 30px;
}

section.normal {
  background-color: white;
}

section.image {
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
}

section#a2 {
  background-image: url(images/background001.jpg);
}

section#a3 {
  padding: 150px 0 30px 15px;
}

section#a4 {
  padding: 50px 0 50px 15px;
  background-image: url(images/background002.jpg);
}

section#a5 {
  padding: 100px 0 100px 15px;
}

section p {
  text-align: start;
}

section#a2 p,
section#a4 p {
  color: white;
  background-color: rgba(0, 0, 0, 0.322);
  display: inline-block;
  text-shadow: 1px 1px 0px black;
  padding: 15px;
  margin-left: 0;
}

section#a3 p,
section#a5 p {
  padding-bottom: 20px;
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  font-family: var(--font-family-standard);
  font-weight: 100;
}
